* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


header nav {
    margin: 0px auto;
    width: 70vw;
    padding: 1rem 2rem;

    /* flex properties */
    display: flex;
    justify-content: space-around;
}

header nav a {
    text-decoration: none;
    color: black;
}

header nav a:hover {
    color: #48cae4;
}

header nav ul {
    list-style: none;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

#brand-name {
    font-weight: 600;
}

#brand-name a {
    font-weight: 600;
    color: #48cae4;
}

main {
    width: 40vw;
    /* border: 2px solid green; */
    margin: 0px auto;
}

#hero {
    margin-top: 10rem;
}

#hero h1 {
    font-size: 4.5rem;
    color: #343a40;
}

#hero h2 {
    font-size: 3.5rem;
    color: #6c757d;
}


#hero p:nth-of-type(1) {
    color: #6c757d;
}

#hero p:nth-of-type(2) {
    color: #6c757d;
    margin: 1.5rem 0;
    letter-spacing: 0.09rem;
}

#hero button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: #48cae4;
    color: white;
}


#hero button:hover {
    cursor: pointer;
}

/* -----------------------------------About me section */

#aboutme {
    margin-top: 10rem;
}

.section-heading {
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
}

.section-subheading {
    text-align: center;
    margin: 1.5rem 0;
    color: #6c757d;
}

#aboutme-grid {
    display: flex;
    flex-wrap: wrap;
}


#aboutme-grid div:nth-of-type(1) {
    flex-basis: 45%;
    border-color: blue;
}

#aboutme-grid div:nth-of-type(2) {
    padding: 0 4rem;
    flex-basis: 55%;
    color: gray;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

#aboutme-grid div img {
    width: 100%;
    border-radius: 10px;
    height: 350px;
}


#aboutme-grid div button{
    margin-top: 1rem;
    padding: 0.6rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: #48cae4;
    color: white;
}




/* Skills Section */

#skills{
    margin-top: 5rem;
    text-align: center;
}

#skills-grid{
    display: flex;
    flex-wrap: wrap;
}

#skills-grid div{
    width: 150px;
    flex-basis: 25%;
}

#skills-grid div svg{
    margin: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: 500ms;
    cursor: pointer;
}

#skills-grid div svg:hover{
    box-shadow: 0 3px 10px black;
}

/* mobile first design */
/* desktop first design */

@media screen and (width<=1500px) {
    main {
        width: 60%;
    }
}


@media screen and (width<=1200px) {
    main {
        width: 50%;
    }
     #aboutme-grid div:nth-of-type(1) {
        flex-basis: 50%;
    }

    #aboutme-grid div:nth-of-type(2) {
        flex-basis: 50%;
    }
    
}


@media screen and (width<=900px) {
    main {
        width: 80%;
    }

    #aboutme-grid div:nth-of-type(1) {
        flex-basis: 100%;
    }

    #aboutme-grid div:nth-of-type(2) {
        flex-basis: 100%;
    }

   #aboutme-grid div:nth-of-type(2){
        padding: 0 1rem;
   }
    #skills-grid div{
        flex-basis: 50%;
    }
}